.container {
  max-width: 76rem;
  padding: 0 2rem;
  margin: 0 auto;
  margin-top: 4rem;
  margin-bottom: 6rem;
}

.movieThumbnail {
  transition: all 0.1s;
  -webkit-box-shadow: 0px 0px 7px -5px rgba(0,0,0,1);
  -moz-box-shadow: 0px 0px 7px -5px rgba(0,0,0,1);
  box-shadow: 0px 0px 7px -5px rgba(0,0,0,1);

  &:hover {
    -webkit-box-shadow: 0px 0px 20px -5px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 20px -5px rgba(0,0,0,1);
    box-shadow: 0px 0px 20px -5px rgba(0,0,0,1);
  }

  &:active {
    -webkit-box-shadow: 0px 0px 15px -5px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 15px -5px rgba(0,0,0,1);
    box-shadow: 0px 0px 15px -5px rgba(0,0,0,1);
  }

  .movieThumbOverview {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 86px;
  }
}

.rating_sub {
  font-size: 12px;
}